body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,31,63,0.9822303921568627) 50%, rgba(58,109,140,1) 94%);
    color: white;
    padding: 15px;
    box-shadow: 2px 0 5px #3A6D8C;
    position: fixed;
}

.sidebar h2 {
    color: #fff;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}


.sidebar ul li {
    margin: 15px 0; 
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background 0.8s;
}

.sidebar ul li a:hover {
background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,77,152,1) 50%, rgba(58,109,140,1) 94%);}
