.container{
    background-color: aqua;
    width: 180px;
    height: 180px;
    position: absolute;
    text-align: center;
}
.container:hover{
    background-color:blue ;
    scale: 2;
    rotate: 30deg;
    translate:200px 200px;
    transform: skew(30deg);
}